@{
    ViewBag.Title = "About";
    ViewBag.Message = "United Nations Space Command";
}

@{
    ViewBag.ListTitle = "Our Principles";
    ViewBag.Items = new List<string>() { "Per Mare", "Per Terras", "Per Constellatum" };
}

@section SideBarOptions
    {
    <a href="" class="list-group-item text-white" style="background-color:transparent">About Company</a>
    <a href="" class="list-group-item text-white" style="background-color:transparent">About Founders</a>
    <a href="" class="list-group-item text-white" style="background-color:transparent">About Team</a>
}