@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Contact our armoury and barracks";
}

@{
    ViewBag.ListTitle = "Our Teams";
    ViewBag.Items = new List<string>() { "Mars", "Earth", "Reach", "Harvest"};
}

@section SideBarOptions
{
    <a href="" class="list-group-item text-white" style="background-color:transparent">Contact Marketing Team</a>
    <a href="" class="list-group-item text-white" style="background-color:transparent">Contact Installation Technician</a>
    <a href="" class="list-group-item text-white" style="background-color:transparent">Contact Support Team</a>
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h1>UNSC HQ</h1>
        </div>
        <div class="card-body">
            <p>Toll Free: 123-ABC-777</p>
            <p>Email: support@unsc.mars</p>
        </div>
    </div>
</div>
