@{
    ViewBag.Title = UNSCCatalogue.Common.Resources.Strings.UNSC;
    ViewBag.Message = "Welcome to UNSC Catalogue";
}

@section SideBarOptions
{
    <a href="" class="list-group-item text-white" style="background-color:transparent">Admin Home</a>
    <a href="" class="list-group-item text-white" style="background-color:transparent">Agent Home</a>
    <a href="" class="list-group-item text-white" style="background-color:transparent">Customer Home</a>
}