@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHeader.cshtml";
}

<h2>Details</h2>
<table class="table">
    <thead>

    </thead>
    <tbody>
        <tr>
            <th>ID</th>
            <td>@ViewBag.Product.ID</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>@ViewBag.Product.Name</td>
        </tr>
        <tr>
            <th>Cost</th>
            <td>@ViewBag.Product.Cost</td>
        </tr>
    </tbody>
</table>